// Colors
$primary: #ff4400;
$black: #0a0a0a;
$white: #fefefe;

$hero-height: 40vh;

.hero-section {
  background-size: cover;
  background-attachment: fixed;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    h1 {text-shadow: 1px 1px 2px $black;}
    h3 {background: $primary; padding: 5px;}
  }
}

#homepage .hero-section {
   height: 70vh;
}
