// Colors
$primary: #ff4400;
$secondary: #E91E63;
$success: #3ADB76;
$warning: #FF9800;
$alert: #F44336;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #2d2d2d;
$emperor: #777777;
$black: #0a0a0a;
$white: #fefefe;
$off-white: #f8f8f8;

body, html { overflow-x:hidden; }

body {
    background: $white;
    font-size: 19px;
}

#bg-grey {background: $light-gray;}
#bg-off-white{background: $off-white;}

.grid-container {max-width: 70rem;}
.pad {padding: 30px 0;}
.card {border: 0; padding: 15px; border-radius: 5px; box-shadow: 1px 1px 10px 1px rgba(0,0,0,.21);}
a {color: $primary;}
a:hover {color: darken($primary, 10%);}
.button, button {background: $primary; border-radius: 4px;}
.primary {color: $primary;}

.top-bar {
  li a {color: $black; padding: 20px 30px;}
}

#media-block {
  img {border-radius: 8px;}
}

footer {
  width: 100%;
  padding: 20px 0;
  background-color: $dark-gray;

  h5 {color: $white;}
  p, li {color: $white; margin-bottom: 0; font-size: 15px;}
  li {list-style: none;}
  ul {margin-left: 0;}
  a, a:hover {color: $white;}

  #social i {font-size: 25px; margin-right: 8px;}
  .seperator {padding: 0 8px;}
}

.scrollup {
  background: $primary;
  padding: 6px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index:99999;
}

// BUILDING BLOCKS

$hero-height: 40vh;

.hero-section {
  background-size: cover;
  background-attachment: fixed;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    h1 {background: $primary; border-radius: 5px; padding: 5px 10px; text-shadow: 1px 1px 2px $black; font-weight: 600;}
    h3 {background: $primary; border-radius: 5px; padding: 5px;}
  }
}

#homepage .hero-section {
   height: 70vh;
   h1 {background: transparent;}
}
